
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Time Tracker Theme by TeamTreeHouse
@import "timetracker";

.dropdown-item {
  display: block;
  width: 100%;
  padding: 0.25rem 2.5rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}

.dropdown-item.active, .dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: #63517f;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 100%;
  padding: 0rem 0;
  margin: 0rem 0 0;
  font-size: 0.9rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.container-wide {
  margin: 0 auto;
  max-width: 1500px;
}

.list-group-item.active {
  z-index: 2;
  color: #fff;
  background-color: #63517f;
  border-color: #63517f;
}

.table .thead-dark th {
  color: #f5f8fa;
  background-color: #63517f !important;
  border-color: #32383e;
}

.btn-purple {
  color: #FFF;
  background-color: #63517f;

  &:hover {
    background-color: darken(#63517f, 10%);
  }
}

a:hover {
  text-decoration: none;
}